# Database
DATABASE_NAME=mogo_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres123
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0


# Django
SECRET_KEY=ALTERE-ESTE-SECRET-KEY-PARA-PRODUCAO
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Docker (opcional)
DOCKER_ENVIRONMENT=development

# PIXI SETTINGS
PIXI_PREFIX=

# Google Maps API Key
GOOGLE_MAPS_API_KEY=YOUR_API_KEY_HERE