# requirements.txt

# Django & API
Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
djangorestframework-simplejwt>=5.3,<6.0
python-dotenv>=1.0,<2.0
Pillow>=10.0,<11.0
pydantic>=2.11,<3.0
email-validator>=2.0,<3.0
psycopg2-binary>=2.9,<3.0
GDAL==3.6.2
requests>=2.0,<3.0

# Deep Learning
ultralytics>=8.0,<9.0
torch>=2.0,<3.0
torchvision>=0.15,<1.0

# OCR
paddlepaddle>=2.0,<3.0
paddleocr>=2.0,<3.0

# Celery & Redis
celery>=5.0,<6.0
redis>=5.0,<6.0

# Utils
numpy>=1.24,<2.0
opencv-python-headless>=4.0,<5.0
shapely>=2.0,<3.0
scipy>=1.10,<2.0
dill>=0.3,<0.4
setuptools>=68.0,<70.0

# Documentation
drf-spectacular>=0.27.0
drf-spectacular-sidecar>=0.27.0